@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
* {
    background-color: darkgrey;
    font-family: "Funnel Display", sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-areas:
        ".    .    .    .    .    .    rdhm rdhm rdhm rdhm .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    t028 t001 .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    t027 .    .    t002 .    .    .    .    .    .   "
        ".    .    .    .    .    t026 .    .    .    .    t003 .    .    .    .    .   "
        ".    .    .    .    t025 .    .    .    .    .    .    t004 .    .    .    .   "
        ".    .    .    t024 .    .    .    .    .    .    .    .    t005 .    .    .   "
        "blhm .    t023 .    .    .    roll roll roll roll .    .    .    t006 .    gnhm"
        "blhm t022 .    .    .    .    roll roll roll roll .    .    .    .    t007 gnhm"
        "blhm t021 .    .    .    .    roll roll roll roll .    .    .    .    t008 gnhm"
        "blhm .    t020 .    .    .    roll roll roll roll .    .    .    t009 .    gnhm"
        ".    .    .    t019 .    .    .    .    .    .    .    .    t010 .    .    .   "
        ".    .    .    .    t018 .    .    .    .    .    .    t011 .    .    .    .   "
        ".    .    .    .    .    t017 .    .    .    .    t012 .    .    .    .    .   "
        ".    .    .    .    .    .    t016 .    .    t013 .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    t015 t014 .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    ylhm ylhm ylhm ylhm .    .    .    .    .    .   ";
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 10px;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
}
