@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
* {
    background-color: darkgrey;
    font-family: "Funnel Display", sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-areas:
        ".    .    .    .    .    .    rdhm rdhm rdhm rdhm .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        "blhm .    .    .    .    .    .    .    .    .    .    .    .    .    .    gnhm"
        "blhm .    .    .    .    .    .    .    .    .    .    .    .    .    .    gnhm"
        "blhm .    .    .    .    .    .    .    .    .    .    .    .    .    .    gnhm"
        "blhm .    .    .    .    .    .    .    .    .    .    .    .    .    .    gnhm"
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    ylhm ylhm ylhm ylhm .    .    .    .    .    .   ";
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 10px;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
}
