@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
* {
    background-color: darkgrey;
    font-family: "Funnel Display", sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-areas:
        ".    .    .    .    .    .    rh04 rh03 rh02 rh01 .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    t028 t001 .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    t027 rv01 .    t002 .    .    .    .    .    .   "
        ".    .    .    .    .    t026 .    rv02 .    .    t003 .    .    .    .    .   "
        ".    .    .    .    t025 .    .    rv03 .    .    .    t004 .    .    .    .   "
        ".    .    .    t024 .    .    .    rv04 .    .    .    .    t005 .    .    .   "
        "bh01 .    t023 .    .    .    roll roll roll roll .    .    .    t006 .    gh04"
        "bh02 t022 .    .    .    .    roll roll roll roll gv04 gv03 gv02 gv01 t007 gh03"
        "bh03 t021 bv01 bv02 bv03 bv04 roll roll roll roll .    .    .    .    t008 gh02"
        "bh04 .    t020 .    .    .    roll roll roll roll .    .    .    t009 .    gh01"
        ".    .    .    t019 .    .    .    .    yv04 .    .    .    t010 .    .    .   "
        ".    .    .    .    t018 .    .    .    yv03 .    .    t011 .    .    .    .   "
        ".    .    .    .    .    t017 .    .    yv02 .    t012 .    .    .    .    .   "
        ".    .    .    .    .    .    t016 .    yv01 t013 .    .    .    .    .    .   "
        ".    .    .    .    .    .    .    t015 t014 .    .    .    .    .    .    .   "
        ".    .    .    .    .    .    yh01 yh02 yh03 yh04 .    .    .    .    .    .   ";
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 10px;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
}
